
/* clean the dashboard */
#postbox-container-2,
#postbox-container-3,
#postbox-container-4{
	display: none;
}

#postbox-container-1{
	width: 100% !important;
}

#dashboard-widgets .meta-box-sortables{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

#normal-sortables .postbox{
	width: 24%;
}

#normal-sortables #alert_widget{
	width: 100%;
}
